body, html{
  height: 100%;
  background-color: #fbfbfb;
}

.btn{
  border-radius: 0;
}

.bg-nav{
  background-color: #445c75!important;
  color: #fff;
}
a.navbar-brand,
a.nav-link{
  color: #fff;
  cursor: pointer;
}
.active-nav{
  border-bottom:2px solid #68dde2;
}
.w-50{
  width: 50px!important;
}
.main{
  background:#fbfbfb
}
table thead{
  color: #fff;
  background: #445c75;
}