<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

{% extends "base1.html" %}
{% block content %}

<script>
function myAction_reading(){
    document.getElementById("myForm").method="POST";
    document.getElementById("myForm").action = "/save_reading";
    document.getElementById("myForm").submit();
}
</script>

<div class="container">
  <h3>Fillup values and observations:</h3>
  
    <tbody>
    

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" id="equipmentid" name="equipmentid" value='2'>
        <button id="paramet" >readAllVaules</button><br>
        
        <button id="department" onclick="myAction_reading()">Select Reading</button><br>
      </div>
    </div>
  </tbody>
  </form>
</div>

</body> 
{% endblock %}

