{% extends "base.html" %}
{% block content %}
<div class="container">
  <h3>Fillup values and observations:</h3>
  Vender:{{venderid}} Department:{{deptid}}  Equipment:{{equipmentid}}   <p></p>
  <h3 class="mb-3">Equipment : {{equ_name}}</h3>
  <form id ="myForm3" class="form-horizontal" action="/save_reading" method="POST">
    <div class="row form-group">
      <label class="control-label col-sm-2" for="email">Email_id of Approver:</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <tbody>
    {% for row in data %}
    <div class="row form-group">
      <label class="control-label col-sm-2" for="pwd">{{row}}:</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="pwd" placeholder="Enter {{row}}" name="{{row}}">
      </div>
    </div>

    {% endfor %}
    
    <div class="row form-group">
      <label class="control-label col-sm-2" for="myForm">Remarks:</label>
      <div class="col-sm-6">          
        <input type="text" class="form-control" id="myForm" placeholder="Enter Remark" name="Remarks">
      </div>
    </div>
    
    <div class="row form-group">        
      <div class="col-sm-6">
        <div class="checkbox">
          <label><input type="checkbox" name="remember">  Followed procedure as per Norms</label>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label><input type="checkbox" name="remember">  Verified & Approved </label>
        </div>
      </div>
    </div>

    <div class="form-group row">        
      <div class="col-sm-6">
        <div class="d-flex">
          <div><button class="btn btn-success mr-4 " id="department" onclick="myAction_reading()">Save All</button></div>
          <div><button class="btn btn-primary" id="department" onclick="getAllValues()">Show Numb of el1</button></div>
        </div>
      </div>
    </div>
    <input type="hidden" id="equipmentid" name="equipmentid" value={{equipmentid}}>
    <input type="hidden" id="textall" name="textall" >
  </form>
</div>
{% endblock %}

