{% extends "base.html" %}
{% block content %}

<div class="container">
  <div>
    <p>Selected Data:</p>
    <ol class="">
      <li class="list-item">Vender: {{venderid}}</li>
      <li class="list-item">Department: {{deptid}}</li>
    </ol>
  </div>
  Select Equipment : 
  <form id="myForm2" action = "/parameter_input">
    <div>
      <select class="form-select" id="equipment" multiple name="equipmentid" aria-label="multiple select example" required>
        {% for row in data %}           
        <option value={{row[1]}}>{{row[0]}}</option>
        {% endfor %}  
      </select>
    </div>
  
    <input type="hidden" id="vender" name="venderid" value={{venderid}}> 
    <input type="hidden" id="dept" name="deptid" value={{deptid}}>
    <button class="btn btn-primary" id="department" type="submit">Select Equipment <i class="fas fa-arrow-circle-right"></i></button><br>
  </form>
</div>
{% endblock %}
